$breaks: (
	desktop: 1500px,
	desktop_md: 1340px,
	more_then_desktop_sm: 1281px,
	desktop_sm: 1200px,
	tablet: 900px,
	mobile_wp: 782px,
	mobile: 600px,
	mobile_xs: 410px,
);

$colors: (
	green: #62b14c,
);
