$breaks: (
	desktop: 1530px,
	desktop_md: 1340px,
	more_then_desktop_sm: 1281px,
	desktop_sm: 1280px,
	tablet: 900px,
	mobile_wp: 782px,
	mobile: 650px,
	mobile_xs: 410px,
	mobile_xxs: 370px,
);

$colors: (
	green: #62b14c,
);
