.rgbcode-menu {
	display: flex;
	font-size: 16px;
	justify-content: space-between;
	align-items: center;
	//gap: 1em;

	@include media_max( map-get( $breaks, 'desktop' ) ) {
		font-size: 14px;
	}

	@include media_max( map-get( $breaks, 'less_then_desktop_sm' ) ) {
		width: 275px;
		margin: 7vh 0;
		flex-direction: column;
		justify-content: flex-start;
		color: #000;
	}

	@include media_max( map-get( $breaks, 'tablet' ) ) {
		padding-inline-start: 0;
	}

	@include media_max( map-get( $breaks, 'mobile_xs' ) ) {
		width: 220px;
	}

	ul {
		list-style: none;
	}

	&__editor {

		@include media( map-get( $breaks, 'mobile' ), map-get( $breaks, 'desktop_sm' ) ) {
			width: 70%;
		}

		a {
			font-size: 0.85em;
			text-decoration: underline;
			color: #000;
		}
	}

	&__first-lvl {

		&-link {
			color: #fff;
			text-transform: uppercase;

			@include media_max( map-get( $breaks, 'less_then_desktop_sm' ) ) {
				color: #000;
				font-weight: bold;
				padding-bottom: 1em;
			}

			&:hover {
				color: #fff;

				@include media_max( map-get( $breaks, 'less_then_desktop_sm' ) ) {
					color: #000;
				}
			}
		}

		&-menu-item {
			position: relative;
			padding-inline: 20px 20px;
			display: flex;
			flex-direction: column;
			padding-bottom: 0.4em;

			@include media_max( map-get( $breaks, 'desktop' ) ) {
				padding-inline: 15px 15px;
			}

			@include media_max( 1400px ) {
				padding-inline: 7px 10px;
			}

			@include media_min( map-get( $breaks, 'desktop_sm' ) ) {
				padding-top: 17px;
				padding-bottom: 23px;
			}

			&.menu-item-has-children {
				padding-inline-end: 40px;

				@include media_max( map-get( $breaks, 'desktop' ) ) {
					padding-inline-end: 35px;
				}

				@include media_max( map-get( $breaks, 'less_then_desktop_sm' ) ) {
					padding-inline-start: 0;
				}

				&::after {
					content: '';

					position: absolute;
					right: 11px;
					top: 31%;
					transform: rotate(45deg);

					width: 10px;
					height: 10px;

					display: block;
					box-sizing: border-box;
					border-bottom: 1px solid;
					border-right: 1px solid;

					color: #fff;

					@include media_max( map-get( $breaks, 'less_then_desktop_sm' ) ) {
						color: #000;
						top: 0;
					}
				}

				&.lang_bar_item {

					@include media_max( map-get( $breaks, 'less_then_desktop_sm' ) ) {
						margin-top: 3em;
						max-width: 70%;
					}

					.rgbcode-menu__second-lvl-menu {
						padding-bottom: 0;
						right: initial;
						left: 0;
					}

					.rgbcode-menu__second-lvl-link {
						display: flex;
						gap: 0.4em;
					}

					img {
						width: 30px;
						height: 21px;
					}

					span {
						margin-left: 5px;
						display: flex;
						gap: 0.3em;
					}

					&.lang_bar_active {

						@include media_max( map-get( $breaks, 'less_then_desktop_sm' ) ) {
							position: absolute;
							top: -15px;
							z-index: 9;
							left: 17px;
						}
					}
				}
			}

			&.rgbcode-menu__reverse-block .rgbcode-menu__second-lvl-menu {
				left: initial;
				right: -6em;
			}

			&.rgbcode-menu-active {

				@include media_min( map-get( $breaks, 'desktop_sm' ) ) {
					background-color: #004ECC;
				}

				&::after {
					top: 42%;
					transform: rotate(225deg);
				}

				& .rgbcode-menu__second-lvl-menu {
					display: flex;
				}
			}

			&.rgbcode-menu-active.lang_bar_item {

				& > .rgbcode-menu__second-lvl-menu {

					@include media_max( map-get( $breaks, 'less_then_desktop_sm' ) ) {
						position: absolute;
						top: 2em;

						padding-bottom: 0;
						padding-top: 1em;

						display: block;
						overflow: initial;
					}
				}
			}

			&.rgbcode-menu-active:not(.lang_bar_item) {

				@include media_max( map-get( $breaks, 'less_then_desktop_sm' ) ) {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					z-index: 9;

					padding-inline-start: 3em;
					padding-top: 6.7em;
					background-color: #fff;
				}

				&::after {

					@include media_max( map-get( $breaks, 'less_then_desktop_sm' ) ) {
						display: none;
					}
				}

				& .rgbcode-menu__second-lvl-menu {

					@include media_max( map-get( $breaks, 'less_then_desktop_sm' ) ) {
						max-height: 70%;
						flex-direction: column;
						overflow-y: scroll;
					}

					&_no-mask {

						@include media_max( map-get( $breaks, 'less_then_desktop_sm' ) ) {
							mask-image: initial;
						}
					}
				}

				& > .rgbcode-menu__third-lvl-btn {

					@include media_max( map-get( $breaks, 'less_then_desktop_sm' ) ) {
						position: absolute;
						bottom: 30px;
						right: 50px;
					}
				}
			}
		}
	}

	&__second-lvl {

		&-link {
			display: block;
			margin-bottom: 1em;
			color: #000;
			font-weight: bold;
		}

		&-menu {
			padding-top: 1.5em;
			padding-bottom: 3.5em;
			padding-inline: 1.5em;

			display: none;
			background-color: #fff;

			@include media( map-get( $breaks, 'desktop_sm' ), map-get( $breaks, 'desktop' ) ) {
				top: 70px;
			}

			@include media_min( map-get( $breaks, 'desktop_sm' ) ) {
				position: absolute;
				top: 70px;
				left: -2em;
				z-index: 1;

				flex: 1 2;
				box-shadow: -6px 7px 8px -6px #0000009e;
			}

			&-item {
				display: flex;
				flex: 1 2;
				flex-direction: column;

				@include media_min( map-get( $breaks, 'desktop_sm' ) ) {
					border-inline-end: 1px solid #ddd;
					padding-inline: 1em;
					width: 185px;
				}

				@include media_min( map-get( $breaks, 'desktop' ) ) {
					padding-inline: 2em;
					width: 225px;
				}

				&.lang_bar_item {
					width: initial;
				}

				&:not(.lang_bar_item) {

					@include media_max( map-get( $breaks, 'less_then_desktop_sm' ) ) {
						margin-bottom: 1.5em;
					}
				}

				&:first-child {
					padding-inline-start: 0;
				}

				&:last-child {
					border-inline-end: none;
				}
			}
		}

	}

	&__third-lvl {

		&-menu {
			padding: 0;
			display: flex;
			flex: 1 2;
			flex-direction: column;

			&-item {

				&.current_page_item {

					.rgbcode-menu__third-lvl-link {
						color: #0062ff;
						font-weight: bold;
					}
				}
			}
		}

		&-link {
			display: block;
			margin-bottom: 0.5em;
			color: #000;

			&:hover {
				color: #0062ff;
				font-weight: bold;
			}

			&_space {
				margin-top: 1.5em;
			}
		}

		&-btn {
			position: relative;
			font-size: 0.85em;
			align-self: flex-start;
			text-decoration: underline;
			color: #000;
			transition: all .3s ease;

			@include media_min( map-get( $breaks, 'desktop_sm' ) ) {
				margin-top: 60px;
			}

			@include media_max( map-get( $breaks, 'less_then_desktop_sm' ) ) {
				position: absolute;
				bottom: 14.8vh;
				right: 50px;
			}

			@media screen and ( max-width: map_get($breaks, desktop_sm) ) and ( min-height: 1000px ) {
				bottom: 22.1vh;
			}

			@media screen and ( max-width: map_get($breaks, desktop_sm) ) and ( min-height: 1070px ) {
				bottom: 25.2vh;
			}

			@media screen and ( max-width: map_get($breaks, desktop_sm) ) and ( min-height: 1150px ) {
				bottom: 31.2vh;
			}

			&::after {

				@include media_min( map-get( $breaks, 'desktop_sm' ) ) {
					content: '';

					position: absolute;
					right: -18px;
					top: 35%;
					transform: rotate(312deg);

					width: 10px;
					height: 10px;

					display: block;
					box-sizing: border-box;
					border-bottom: 1px solid;
					border-right: 1px solid;

					color: #9d9d9d;
				}

				//@include media_max( map-get( $breaks, 'desktop' ) ) {
				//	width: 8px;
				//	height: 8px;
				//}
			}

			&:hover {
				color: #0062ff;

				&::after {
					color: #0062ff;
				}
			}
		}

	}

	&-only {

		&-desktop {

			@include media_max( map-get( $breaks, 'less_then_desktop_sm' ) ) {
				display: none;
			}
		}

		&-mobile {

			@include media_min( map-get( $breaks, 'desktop_sm' ) ) {
				display: none;
			}
		}

	}
}
