.rgbcode-menu-header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #0063ff;

	@include media_min(map-get($breaks, 'desktop_sm')) {
		height: 85px;
	}

	&__back {
		position: relative;
		@include media_max(map-get($breaks, 'less_then_desktop_sm')) {
			&::before {
				content: '';
				position: absolute;
				right: 11px;
				top: 5px;
				transform: rotate(225deg);
				width: 10px;
				height: 10px;
				display: block;
				box-sizing: border-box;
				border-bottom: 1px solid;
				border-right: 1px solid;
				color: #000;
			}
		}
	}

	&__container {
		padding-top: 15px;
		padding-inline: 15px;
		max-width: 1920px;
		margin: 0 auto;
		display: flex;

		@include media_max(map-get($breaks, 'less_then_desktop_sm')) {
			padding-bottom: 15px;
			justify-content: space-between;
		}
	}

	&__wrapper {

		@include media_max(map-get($breaks, 'less_then_desktop_sm')) {
			display: flex;
			width: 50%;
			justify-content: space-between;
			align-items: center;
		}

	}

	&__logo {
		max-width: 200px;
		margin-top: 4px;
		display: block;

		@include media_max(map-get($breaks, 'less_then_desktop_sm')) {
			margin-top: 0;
			width: 26px;
			height: 31px;
		}
	}

	&__menu {

		@include media_min(map-get($breaks, 'desktop_sm')) {
			flex-grow: 2;
		}

		@include media_max(map-get($breaks, 'less_then_desktop_sm')) {
			//display: none;

			position: absolute;
			top: 0;
			left: -100%;
			z-index: 10;

			width: 50vw;
			height: 100vh;

			background-color: #fff;
			transition: left .7s linear;
		}

		@include media_max(map-get($breaks, 'mobile')) {
			width: 90vw;
		}

		&-wrap {

			@include media_max(map-get($breaks, 'less_then_desktop_sm')) {
				padding-inline-start: 40px;
				padding-bottom: 30px;
			}

		}
	}

	&__open-logo {
		padding-top: 1em;
		padding-bottom: 1em;
		padding-inline: 1em;

		@include media_min(map-get($breaks, 'desktop_sm')) {
			display: none;
		}
	}

	&__open-btn {
		display: inline-block;
		max-width: 37%;
		margin-bottom: 2vh;
		text-align: center;
	}

	&__close {
		position: absolute;
		top: 26px;
		right: 0;
		z-index: 15;

		border: none;

		@include media_min(map-get($breaks, 'desktop_sm')) {
			display: none;
		}

		&::before,
		&::after {
			content: '';
			display: block;
			width: 35px;
			height: 1px;
			background-color: #000;
		}

		&::before {
			transform: rotate(44deg);
		}

		&::after {
			transform: rotate(316deg);
		}

		&:hover,
		&:active,
		&:focus {
			border: none;
			background-color: transparent;
			outline: none;
		}
	}

	&__link {
		text-decoration: underline;
		color: #0063ff;
		font-weight: 600;
		font-size: 0.85em;
	}
}

#wpadminbar ~ #rgbcode-menu-header {
	position: fixed;
	top: 32px;

	@include media_max(map-get($breaks, 'less_then_desktop_sm')) {
		.rgbcode-menu-header__menu {
			padding-bottom: 32px;
		}
	}

	@include media_max(map-get($breaks, 'mobile_wp')) {
		top: 46px;
		position: absolute;

		.rgbcode-menu-header__menu {
			padding-bottom: 46px;
		}
	}
}
