.rgbcode-menu-bottom-content {
	margin-top: auto;

	&__title {
		font-style: italic;
		font-size: 0.9em;
		color: #000;
		margin-bottom: .9rem;
	}

	&__items {
		display: flex;
		justify-content: flex-start;
		gap: 5px;
	}

	&__item {
		width: 30px;
		height: 30px;
		flex-shrink: 0;
	}

	&__img {
		width: 30px;
		height: 30px;
		border-radius: 50%;
	}
}