.rgbcode-menu-scrolldown {
	position: relative;
	display: none;
	opacity: 1;
	transition: opacity .5s ease-in-out;

	&_hide {
		opacity: 0;
	}

	&__btn {
		position: absolute;
		left: 40px;
		top: 15px;
		right: auto;
		bottom: auto;

		width: 20px;
		text-align: center;
	}

	svg {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: auto;

		path {
			&.first-path {
				fill: grey;
				animation: scrollanim 1s ease-in-out infinite;
				animation-delay: 0.8s;
			}
			&.second-path {
				fill: grey;
				animation: scrollanim2 1s ease-in-out infinite;
			}
		}
	}

	@keyframes scrollanim {
		0% {
			transform: translate(0, -40px);
			opacity: 0;
		}

		60% {
			transform: translate(0, 0);
			opacity: 0.8;
		}
	}

	@keyframes scrollanim2 {
		0% {
			transform: translate(0, -40px);
			opacity: 0;
		}

		60% {
			transform: translate(0, 0px);
			opacity: 0.6;
		}
	}
}
